<!--div class="row" id="feature_section_frontnice">
	<div class="span6 first">
	<a href="{{ settings.frontnice_link }}">
		<img src="{{'frontnice.png' | asset_url }}" />
	</a>
</div>
<div class="span6 last">
	<a href="{{ settings.frontnaughty_link }}">
		<img src="{{'frontnaughty.png' | asset_url }}" />
	</a>
</div>
</div-->

<div id="page" class="row">
  
  <div class="span12 details">
    {{ page.content }}
  </div>

	<div class="span12">
		<div class="carouselwrapper">
			<ul id="carousel" class="elastislide-list">
			{% if settings.frontimage1 %}
			<li><a href="{{ settings.frontimage1_link }}" ><img src="{{ 'frontimage1.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage2 %}
			<li><a href="{{ settings.frontimage2_link }}" ><img src="{{ 'frontimage2.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage3 %}
			<li><a href="{{ settings.frontimage3_link }}" ><img src="{{ 'frontimage1.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage4 %}
			<li><a href="{{ settings.frontimage4_link }}" ><img src="{{ 'frontimage4.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage5 %}
			<li><a href="{{ settings.frontimage5_link }}" ><img src="{{ 'frontimage5.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage6 %}
			<li><a href="{{ settings.frontimage6_link }}" ><img src="{{ 'frontimage6.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage7 %}
			<li><a href="{{ settings.frontimage7_link }}" ><img src="{{ 'frontimage7.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage8 %}
			<li><a href="{{ settings.frontimage8_link }}" ><img src="{{ 'frontimage8.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage9 %}
			<li><a href="{{ settings.frontimage9_link }}" ><img src="{{ 'frontimage9.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage10 %}
			<li><a href="{{ settings.frontimage10_link }}" ><img src="{{ 'frontimage10.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage11 %}
			<li><a href="{{ settings.frontimage11_link }}" ><img src="{{ 'frontimage11.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage12 %}
			<li><a href="{{ settings.frontimage12_link }}" ><img src="{{ 'frontimage12.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage13 %}
			<li><a href="{{ settings.frontimage13_link }}" ><img src="{{ 'frontimage13.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage14 %}
			<li><a href="{{ settings.frontimage14_link }}" ><img src="{{ 'frontimage14.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage15 %}
			<li><a href="{{ settings.frontimage15_link }}" ><img src="{{ 'frontimage15.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage16 %}
			<li><a href="{{ settings.frontimage16_link }}" ><img src="{{ 'frontimage16.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage16 %}
			<li><a href="{{ settings.frontimage16_link }}" ><img src="{{ 'frontimage16.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage17 %}
			<li><a href="{{ settings.frontimage17_link }}" ><img src="{{ 'frontimage17.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage18 %}
			<li><a href="{{ settings.frontimage18_link }}" ><img src="{{ 'frontimage18.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage19 %}
			<li><a href="{{ settings.frontimage19_link }}" ><img src="{{ 'frontimage19.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
			{% if settings.frontimage20 %}
			<li><a href="{{ settings.frontimage20_link }}" ><img src="{{ 'frontimage20.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.naughtysmall1_linktext }}</span></div--></a></li>
			{% endif %}
		</ul>
	</div>

<div class="naughtynicewrapper" id="tiles">

   	<div class="brick largebrick">
			{% if settings.frontlarge %}
				<a href="{{ settings.frontlarge_link }}" ><img src="{{ 'frontlarge.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontlarge_linktext }}</span></div--></a>
			{% endif %}
		</div>

		<div class="brick medbrick">
			{% if settings.frontmed1 %}
				<a href="{{ settings.frontmed1_link }}" ><img src="{{ 'frontmed1.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontmed1_linktext }}</span></div--></a>
			{% endif %}
		</div>

<div class="brick smallbrick">
			{% if settings.frontsmall1 %}
				<a href="{{ settings.frontsmall1_link }}" ><img src="{{ 'frontsmall1.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontsmall1_linktext }}</span></div--></a>
			{% endif %}
</div>

<div class="brick smallbrick">
			{% if settings.frontsmall2 %}
				<a href="{{ settings.frontsmall2_link }}" ><img src="{{ 'frontsmall2.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontsmall2_linktext }}</span></div--></a>
			{% endif %}
</div>

<div class="brick smallbrick">
			{% if settings.frontsmall3 %}
				<a href="{{ settings.frontsmall3_link }}" ><img src="{{ 'frontsmall3.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontsmall3_linktext }}</span></div--></a>
			{% endif %}
</div>

<div class="brick tinybrick">
			{% if settings.fronttiny1 %}
				<a href="{{ settings.fronttiny1_link }}" ><img src="{{ 'fronttiny1.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.fronttiny1_linktext }}</span></div--></a>
			{% endif %}
</div>

<div class="brick medbrick">
			{% if settings.frontmed2 %}
				<a href="{{ settings.frontmed2_link }}" ><img src="{{ 'frontmed2.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontmed2_linktext }}</span></div--></a>
			{% endif %}
		</div>

		<div class="brick medbrick">
			{% if settings.frontmed3 %}
				<a href="{{ settings.frontmed3_link }}" ><img src="{{ 'frontmed3.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontmed3_linktext }}</span></div--></a>
			{% endif %}
		</div>

<div class="brick smallbrick">
			{% if settings.frontsmall4 %}
				<a href="{{ settings.frontsmall4_link }}" ><img src="{{ 'frontsmall4.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.frontsmall4_linktext }}</span></div--></a>
			{% endif %}
</div>

<div class="brick tinybrick">
			{% if settings.fronttiny2 %}
				<a href="{{ settings.fronttiny2_link }}" ><img src="{{ 'fronttiny2.png' | asset_url }}" /><!--div class="bricktext"><span>{{ settings.fronttiny2_linktext }}</span></div--></a>
			{% endif %}
  </div>
</div>
</div>

<!--div class="row" id="feature_section_1">

{% if settings.gif_mainmidtop1 %}
<div class="span4 first">
<a href="{{ settings.gif_mainmidtop1_link }}" ><img src="{{ 'gif_mainmidtop1.gif' | asset_url }}" /></a>
</div>
{% else %}
<div class="span4 first">
<a href="{{ settings.mainmidtop1_link }}"><img src="{{ 'mainmidtop1.png' | asset_url }}"/></a>
</div>
{% endif %}
  
{% if settings.gif_mainmidtop2 %}
<div class="span4">
<a href="{{ settings.gif_mainmidtop2_link }}" ><img src="{{ 'gif_mainmidtop2.gif' | asset_url }}" /></a>
</div>
{% else %}
<div class="span4">
<a target="_blank" href="{{ settings.mainmidtop2_link }}"><img src="{{ 'mainmidtop2.png' | asset_url }}"/></a>
</div>
{% endif %}
  
{% if settings.gif_mainmidtop3 %}
<div class="span4 last">
<a href="{{ settings.gif_mainmidtop3_link }}" ><img src="{{ 'gif_mainmidtop3.gif' | asset_url }}" /></a>
</div>
{% else %}
<div class="span4 last">
<a href="{{ settings.mainmidtop3_link }}"><img src="{{ 'mainmidtop3.png' | asset_url }}"/></a>
</div>
{% endif %}
  
</div--> <!-- #feature_section_1 -->

<!--div class="row" id="feature_section_2">

{% if settings.gif_mainmidbottom1 %}
<div class="span6 first">
<a href="{{ settings.gif_mainmidbottom1_link }}" ><img src="{{ 'gif_mainmidbottom1.gif' | asset_url }}" /></a>
</div>
{% else %}
<div class="span6 first">
<a href="{{ settings.mainmidbottom1_link }}"><img src="{{ 'mainmidbottom1.png' | asset_url }}"/></a>
</div>
{% endif %}
  
{% if settings.gif_mainmidbottom2 %}
<div class="span6 last">
<a href="{{ settings.gif_mainmidbottom2_link }}" ><img src="{{ 'gif_mainmidbottom2.gif' | asset_url }}" /></a>
</div>
{% else %}
<div class="span6 last">
<a href="{{ settings.mainmidbottom2_link }}"><img src="{{ 'mainmidbottom2.png' | asset_url }}"/></a>
</div>
{% endif %}
  
</div--> <!-- #feature_section_1 -->


<!-- Begin intro -->
{% if settings.homepage != blank %}

<div class="span12 p20">
  {{ pages[settings.homepage].content }}
</div>
{% endif %}
<!-- End intro -->


<!-- Begin homepage products -->
<!--div class="stylists_pick">
  <h2>Stylist's Pick</h2>
  <div class="arrow"></div>
</div> <!-- stylists_pick --> 

      
<!--div class="products">
  {% for product in collections[settings.frontpage_collection].products %}
  {% include 'product-loop' with settings.frontpage_collection %}
  {% endfor %}
</div>
<!-- End products -->
